<%= form_with(model: product3, local: true) do |form| %>
  <% if product3.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product3.errors.count, "error") %> prohibited this product3 from being saved:</h2>

      <ul>
      <% product3.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :vendor %>
    <%= form.text_field :vendor %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
