<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product3.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product3.price %>
</p>

<p>
  <strong>Vendor:</strong>
  <%= @product3.vendor %>
</p>

<%= link_to 'Edit', edit_product3_path(@product3) %> |
<%= link_to 'Back', product3s_path %>
